/SomeUtilsApp/.expo/
/SomeUtilsApp/.expo-shared/
/SomeUtilsApp/.git/
/SomeUtilsApp/.vscode/
/SomeUtilsApp/node_moduels/
/SomeUtilsApp/web-build/
*.docx

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.keystore
